@import "../../app/variable.module.scss";

.layout {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: $secondary;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  transition: $transitions_fast;

  .logo {
    width: 180px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .links_container {
    display: flex;
    align-items: center;
    .links {
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      margin-top: 0;
      flex: 1;

      .action {
        margin-left: auto;
      }

      a,
      button {
        font-size: $p_font_size_sm;
        text-transform: capitalize;
        letter-spacing: 1px;
        color: $light;
        padding: $space_sm;
        &:hover {
          color: $primary;
        }
      }

      li {
        list-style: none;
        display: flex;
        gap: $space_xs;

        a {
          letter-spacing: 1px;
          text-decoration: none;
          &:first-child {
            color: $primary;
          }
        }
      }

      .link_item {
        width: max-content;
        .dropdown_links {
          min-width: 180px;
          a {
            padding: $space_sm;
            display: block;
            color: $light;
            text-decoration: none;
          }
        }
      }
    }
  }

  &.stick {
    height: 60px;
  }
}

@keyframes dropdown {
  from {
    transform: translateY(100%) scale(0.5);
  }
  to {
    transform: translateY(100%) scale(1);
  }
}

@keyframes sub_dropdown {
  from {
    transform: translateX(100%) scale(0.5);
  }
  to {
    transform: translateX(100%) scale(1);
  }
}


@media screen and (max-width:$breakpoint_md) {
  
.layout {
 

  .logo {
    
  }

  .links_container {
   
    .links {
      display: none;
    }
  }
}
}