@import "../../app/variable.module.scss";

.wrapper {
  height: calc(100svh - 61px);
  position: relative;
  background-image: url("/banner-slide-1.webp");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: $overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  .content {
    width: 100%;
    max-width: 1024px;
    h1 {
      font-size: 5vw;
      line-height: 1;
      margin: 0;
      margin-bottom: $space_xxs;
    }

    p {
      font-size: 18px;
      margin: auto;
      margin-bottom: $space_lg;
    }

    h1,
    p {
      color: $light;
      text-align: center;
    }

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      .primary {
        color: $primary;
      }
    }

    .search {
      display: flex;
      align-items: center;
      margin: auto;

      input {
        height: 60px;
        flex: 1;
        padding: 0 10px;
        border: none;
        outline: none;
        font-size: $p_font_size_lg;

        &::placeholder {
          font-size: $p_font_size_lg;
        }
      }
      button {
        height: 60px;
        font-size: $p_font_size_lg;
      }
    }
  }
}
.services {
  display: flex;
  .item {
    padding: $space_xxl $space_xl;
    background-color: $secondary_2;
    flex: 1;
    transition: $transitions_fast;
    h2,
    p {
      color: rgba($color: $light, $alpha: 0.8);
      text-align: center;
    }
    h2 {
      font-size: $h_font_size_sm;
    }
    p {
      font-size: $p_font_size_sm;
      max-width: 300px;
      margin: auto;
    }
    &:nth-child(2) {
      background-color: $secondary;
    }

    &:hover {
    }
  }

  button {
    margin: auto;
  }
}
