@import "../../app/variable.module.scss";

.wrapper {
  .grid_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $space_sm;
    .grid_item {
      gap: $space_sm;
    }
  }

  .expand_btn {
    margin-top: $space_lg;
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (max-width: $breakpoint_lg) {
    .grid_wrap {
      grid-template-columns: repeat(3, 1fr);

      .grid_item {
      }
    }
  }
  @media screen and (max-width: $breakpoint_md) {
    .grid_wrap {
      grid-template-columns: repeat(2, 1fr);

      .grid_item {
      }
    }
  }
  @media screen and (max-width: $breakpoint_sm) {
    .grid_wrap {
      grid-template-columns: repeat(1, 1fr);

      .grid_item {
      }
    }
  }
}
